<a href="https://colab.research.google.com/github/MehakSingh123/Training-102-/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SETS --> Python set is a well defined collection of distinct objects.These are stored in curlly brackets i.e.{}.They are independent of order and immutable in nature.There are two types of sets like frozen sets.They can be constructed by simple form i.e. using {} and by using constructor.

Operations-->
1.Intersection
2.Intersection_update
3.difference
4.differnce_update
5.symmetric_difference
6.symmetric_difference_update
7.union
8.Update
9.issubset
10.issuperset
11.isdisjoint
12.isproperset(<)

In [ ]:
#intersection

set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.intersection(set2))

#update

set1.update(set2)
print(set1)

#intersection_update
set3={9,7,3,4}
set4={4,7,6,3}
set3.intersection_update(set4)
print(set3)

#symmetric_differnce

set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.symmetric_difference(set2))


#symmetric_difference_update

set1={1,2,3,4,5}
set2={4,5,6,7,8}
set1.symmetric_difference_update(set2)
print(set1)


#difference

set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.difference(set2))

#differene_update

set1={1,2,3,4,5}
set2={4,5,6,7,8}
set1.difference_update(set2)
print(set1)


#union

set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.union(set2))


#issuperset
set1={1,2,3,4}
set2={1,2,3,4,5,6}
print(set2.issuperset(set1))

#issubset
set1={1,2,3,4}
set2={1,2,3,4,5,6}
print(set1.issubset(set2))

#isdisjoint
set1={1,2,3,4}
set2={5,6,7,8}
print(set1.isdisjoint(set2))

#isproperset

set1={1,2,3,4}
set2={1,2,3,4,5,6}
print(set1<set2)

#add
set1={1,2,3}
set1.add(5)
print(set1)

#discard
set1.discard(5)
print(set1)

#remove
set1={1,2,3,4,5}
set1.remove(5)
print(set1)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}
True
True
True
True
{1, 2, 3, 5}
{1, 2, 3}
{1, 2, 3, 4}
{frozenset({3, 4}), frozenset({1, 2})}

1. Create a set with the first five prime numbers.

In [ ]:
set1={2,3,5,7,11}
print(set1)

{2, 3, 5, 7, 11}

2. Add the number 7 to the set.

In [ ]:
set1={2,3,4,5}
set1.add(7)
print(set1)

{2, 3, 4, 5, 7}

3. Remove the number 3 from the set.

In [ ]:
set1={2,3,4,5}
set1.remove(3)
print(set1)

{2, 4, 5}

4. Check if the set is a subset of {2, 3, 5, 7, 11}.

In [ ]:
set1={2,3,4,5}
print(set2.issubset( {2, 3, 5, 7, 11}))

False

5. Find the union of the set with {7, 11, 13}.

In [ ]:
set1={2,3,4,5}
set2={7,11,13}
print(set1.union(set2))

{2, 3, 4, 5, 7, 11, 13}

6. Create a frozen set from the original set.

In [ ]:
set1={2,3,4,5}
print(frozenset(set1))

frozenset({2, 3, 4, 5})

Check if the set has any common elements with {1, 4, 9}.

In [ ]:
print({1,2,3}.isdisjoint({1,4,9}))

False

Remove all elements from the set.

In [ ]:
set1={2,3,4,5}
set1.clear()
print(set1)

set()

9. Create a set of your favorite fruits and find the intersection with { 'apple', 'banana', 'orange' }.

In [ ]:
set1={'apple','banana','orange'}
set2={'apple','mango','orange'}
print(set1.intersection(set2))

{'orange', 'apple'}

 Use set comprehension to create a set of squares for numbers 1 to 10.

In [ ]:

squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Dictionaries-->Python dictionaries are set of key value pairs and are unordered in nature.It can be implemented by {}.
Keys can be used to identify specified values .A representation of {} without any element in it represent dictionary.Mapping in python means dictionary in python.

RULES:
1.Every key must be unique
2.Every key must be hashable

It can be constructed simply by using curly braces or by using constructor.

Method:
1 .get()
2 .items()
3 .clear()
4 .keys()
5 .values()
6 .update()
7 .pop()
8 .popitem()

1. Basic Dictionary Operations:
Create a dictionary named student with keys "name," "age," and "grade," and assign
appropriate values.
Print the value associated with the "age" key.
Update the "grade" to a new value.
Add a new key-value pair for "subject" and its corresponding value.

In [ ]:
dic={"name":"mehak","age":19,"grade":10}
print(dic)
print(dic["age"])
dic["age"]=20
print(dic)
dic["subject"]="Chem"
print(dic)

{'name': 'mehak', 'age': 19, 'grade': 10}
19
{'name': 'mehak', 'age': 20, 'grade': 10}
{'name': 'mehak', 'age': 20, 'grade': 10, 'subject': 'Chem'}

2. Dictionary Manipulation:
Create two dictionaries, dict1 and dict2, with at least three key-value pairs each.
Merge these dictionaries into a new dictionary called merged
_
dict.
Remove a key from merged
_
dict.
Check if a specific key exists in dict1.

In [ ]:
dic1={"name1":"mehak","age1":19,"grade1":10}
dic2={"name2":"jacky","age2":10,"grade2":11}
dic3=dic1.copy()
print(dic3)
dic3.update(dic2)
print(dic3)
dic3.pop("grade1")
print(dic3)
key="grade2"
if key in dic3:
  print("Present")
else:
  print("error")

{'name1': 'mehak', 'age1': 19, 'grade1': 10}
{'name1': 'mehak', 'age1': 19, 'grade1': 10, 'name2': 'jacky', 'age2': 10, 'grade2': 11}
{'name1': 'mehak', 'age1': 19, 'name2': 'jacky', 'age2': 10, 'grade2': 11}
Present

3. Iterating Through a Dictionary:
Use a loop to print all keys in the student dictionary.
Use another loop to print all values in the student dictionary.
Write a loop to print each key-value pair in the student dictionary.

In [ ]:
dic1={"name1":"mehak","age1":19,"grade1":10}
for key,value in dic1.items():
  print(f"The specifid {key} have value {value}")

The specifid name1 have value mehak
The specifid age1 have value 19
The specifid grade1 have value 10

4. Dictionary Comprehension:
Create a dictionary comprehension to generate a dictionary of squares from 1 to 10.
Filter the above dictionary to include only even squares.

In [ ]:
dic1={x**2 for x in range(1,11)}
for ele in dic1:
  if (ele%2==0):
    print(ele)

64
4
36
100
16

5. Nested Dictionaries:
Create a dictionary named school with multiple students (nested dictionaries).
Access and print information about a specific student within the school dictionary.

In [ ]:
school={"child":{
    "name":"mehak",
    "age":19,
    "grade":10
},"hobby":{
        "name":"cricket",
        "level":"champion"
    },"diet":{
        "meal":"Omelete",
        "drink":"protien shake"

        }}

print(school)

{'child': {'name': 'mehak', 'age': 19, 'grade': 10}, 'hobby': {'name': 'cricket', 'level': 'champion'}, 'diet': {'meal': 'Omelete', 'drink': 'protien shake'}}

6. Dictionary Functions:
Use the len() function to find the number of items in a dictionary.
Use the keys(), values(), and items() methods on a dictionary and print the results.